.cla1{
    color: aqua;
    background-color: aliceblue;

}
.cla2{
    color: rgb(7, 100, 69);
    background-color: rgb(8, 140, 255);
}
.cla3{
    color: crimson;
    background-color: rgb(5, 30, 52);
}
.cla4{
    color: chocolate;
    background-color: rgb(12, 27, 124);
}


