
.header{
    margin-top: 0;
    position:fixed;
    z-index: 1;
    /* border: 2px solid black; */
    background-color: white;
    width:100%;
    /* height: 10vh; */

    margin: 0;
    display: flex;
    justify-content:space-around;
}
img{
    margin-top: 0;
    
    width: 100%;
    position: relative;
}
.image>h1{
 position: absolute;
 left: 40rem;
 top: 25rem;
 z-index: 1;
 color: white;
}
.logo{
    background-color: black;
    opacity: 80%;
    color: white;
}
.Project{
    color: black;
    opacity: 80%;
    font-size: 1rem;
}
.container{
    /* border: 2px solid rebeccapurple; */
    height: 100vh;
    /* display: flex; */
}
.container-1{
    /* border: 1px solid black; */
    /* height: 25rem; */
    /* width: 25rem; */
    display: flex;
    margin: 0;
}
.child{
    margin: 0;
    padding: 1rem;
    position: relative;
}
.child>h3{
    color: white;
    position: absolute;
    bottom: 12rem;
    background-color: black;
   
}
.child-1{
    padding: 1rem;
    position: relative;
    margin: 0;
}
.child-1>h3{
    color: white;
    position: absolute;
    bottom: 21rem;
    background-color: black;
    
}
.container-2{
    /* border: 1px solid black; */
    height: 25rem;
    /* width: 25rem; */
    /* padding: 1rem; */
    display: flex;
    margin:0;
}





