body{
    display: flex;
    /* margin:0px; */
    justify-content: center;
    align-items: center;
    height: 700px;  
    background-color: black;
}
.container-1{
    border: 2px solid rgb(255, 255, 255);
    background-color: white;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1%;
}

.child-1{
    border: 0.1px solid rgb(0, 0, 0);
    border-radius: 5px;
    background-color: black;
    height: 1vh;
    width: 1vw;
    animation-name: a;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-delay: 0.2s;
    /* transition: all 2s e; */
}
.child-2{
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    background-color: black;
    height: 1vh;
    width: 1vw;
    animation-name: a;
    animation-duration: 0.9s;
    animation-iteration-count: infinite;
    animation-delay: 0.4s;
    transition: all 2s ease;
}
.child-3{
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    background-color: black;
    height: 1vh;
    width: 1vw;
    animation-name: a;
    animation-duration: 0.9s;
    animation-iteration-count: infinite;
    animation-delay: 0.6s;
    /* transition: all s e; */
}
.child-4{
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    background-color: black;
    height: 1vh;
    width: 1vw;
    animation-name: a;
    animation-duration: 0.9s;
    animation-iteration-count: infinite;
    animation-delay: 0.8s;
    /* transition: all 10s ease; */
}
.child-5{
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    background-color: black;
    height: 1vh;
    width: 1vw;
    animation-name: a;
    animation-duration: 0.9s;
    animation-iteration-count: infinite;
    animation-delay: 0.2s;
    /* transition: all 2s e; */
}
.child-6{
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    background-color: black;
    height: 1vh;
    width: 1vw;
    animation-name: a;
    animation-duration: 0.9s;
    animation-iteration-count: infinite;
    animation-delay: 0.4s;
    /* transition: all 2s e; */
}
.child-7{
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    background-color: black;
    height: 1vh;
    width: 1vw;
    animation-name: a;
    animation-duration: 0.9s;
    animation-iteration-count: infinite;
    animation-delay: 0.6s;
    /* transition: all 2s e; */
}
.child-8{
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    background-color: black;
    height: 1vh;
    width: 1vw;
    animation-name: a;
    animation-duration: 0.9s;
    animation-iteration-count: infinite;
    animation-delay: 0.8s;
    /* transition: all 2s ease; */
}
.child-9{
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    background-color: black;
    height: 1vh;
    width: 1vw;
    animation-name: a;
    animation-duration: 0.9s;
    animation-iteration-count: infinite;
    animation-delay: 0.2s;
    /* transition: all 7s e; */
    
}



/* @keyframes a{
  0%   { height: 40px; }
  50%  { height: 130px; }
  100% { height: 40px; }
} */





@keyframes a{
 0%  {
    transform:scaleY(10);
 }
  50%  {
     transform:scaleY(6); 
    }
    100% {
    transform:scaleY(3);
 } 
} 

