.container{
    /* height: 300px; */
    /* width: 300px; */
    /* border: 2px solid red; */
    position: relative;
}
img{
    width:100%;
    /* height: 100%; */
}
h2{
    position: absolute;
    top: 400px;
    left: 650px;
    color: white;
}
h2 .br{
    background-color: rgb(83, 73, 73);
}
.parent{
    padding: 80px;
    /* border: 2px dotted; */
}
/* .child-1{ */
    /* border: 2px solid red; */
    /* position: relative; */
/* display: inline-block; */
/* padding: 20px; */


.sub-1{
    display: inline-block;
    /* border: 3px solid black; */
    height: 300px;
    width: 300px;
    position: relative;
    
   
    
}
.sub-2{
    display: inline-block;
    /* border: 3px solid black; */
    height: 300px;
    width: 300px;
     position: relative;
}
.sub-3{
    display: inline-block;
    /* border: 3px solid black; */
    height: 300px;
    width: 300px;
     position: relative;
}
.sub-4{
    display: inline-block;
    /* border: 3px solid black; */
    height: 300px;
    width: 300px;
     position: relative;
}
h3{
    color: white;
    background-color: black;
    position: absolute;
    top: 0px;
    margin: 0px;
}


.child-2{
    /* border: 2px solid red; */
    position: relative;
display: inline-block;
/* padding: 80px; */

}
.sub-5{
    display: inline-block;
    /* border: 3px solid black; */
    height: 300px;
    width: 300px;
    position: relative;
   
    
}
.sub-6{
    display: inline-block;
    /* border: 3px solid black; */
    height: 300px;
    width: 300px;
     position: relative;
}
.sub-7{
    display: inline-block;
    /* border: 3px solid black; */
    height: 300px;
    width: 300px;
     position: relative;
}
.sub-8{
    display: inline-block;
    /* border: 3px solid black; */
    height: 300px;
    width: 300px;
     position: relative;
}
.header{
    color: aqua;
    height: 60px;
    border: 2px solid black;
    /* position: absolute; */
    z-index: 1;
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: 0px;
    width: 100%;
    
}