.container{
 display: inline-block;
    border: 2px solid rebeccapurple;
    /* width: 1200px; */
    /* height: 600px; */
    padding: 80px;
}

.child-1{
display: inline-block;
 /* border: 2px solid red; */
    /* height: 500px; */
    /* width: 300px; */
}
.child-2{
display: inline-block;
 /* border: 2px solid red; */
    /* height: 500px; */
    /* width: 300px; */
}
.child-3{
display: inline-block;
 /* border: 2px solid red; */
    /* height: 500px; */
    /* width: 300px; */
}
.child-4{
display: inline-block;
 /* border: 2px solid red; */
    /* height: 500px; */
    /* width: 300px; */
}
img{
    display:inline-block;
    width: 100%;
}